{% import 'macros.html.twig' as common %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/shop_base_ui_styles.css') }}"/>
    {% block stylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{{ common.header(block('title')) }}
<div class="container">
    <div class="starter-template">
        {% block body %}{% endblock %}
    </div>
</div>
{% block javascripts %}
{% endblock %}
<script src="{{ asset('js/shop_base_ui_scripts.js') }}"></script>
</body>
</html>
