{% extends 'base.html.twig' %}
{% block title %}Login page{% endblock %}
{% block body %}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}
    <h3>User Dump:</h3>
    <pre>
        {{ dump(app.user) }}
    </pre>

    <form action="{{ path('login_check') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        <input type="hidden" name="_target_path" value="/admin" />
        
        <input type="submit" name="login" />
    </form>
{% endblock %}




