<form method="post" action="{{ path('shop_login_check') }}">
    <label for="login">Login</label>
    <input name="login" id="login" />

    <label for="password">Password</label>
    <input name="password" id="password" autocomplete="off" type="password" />

    <label for="remember-me">Remeber me</label>
    <input type="checkbox" name="remember-me" id="remember-me" />

    <input type="submit" value="Login" />
</form>
