{% extends 'base.html.twig' %}

{% block title %}Main page{% endblock %}
{% block body %}
    <ul class="items">
        {% for item in items %}
            <li>{{ common.printItem(item) }}</li>
        {% else %}
            <li>No items</li>
        {% endfor %}
    </ul>
{% endblock %}

