{% extends 'base.html.twig' %}

{% block title %}Main page{% endblock %}
{% block body %}
    {{ common.header() }}

    <ul class="items">
        {% for item in items %}
            <li>{{ common.printItem(item) }}</li>
        {% else %}
            <li>No items</li>
        {% endfor %}
    </ul>

    {{ common.footer() }}
{% endblock %}

