{% extends 'base.html.twig' %}
{% import 'WebSiteBundle:_common:macros.html.twig' as common %}

{% block body %}
    {{ common.header() }}

    <ul class="items">
        {% for item in items %}
            <li>{{ common.printItem(item) }}</li>
        {% endfor %}
    </ul>

    {{ common.footer() }}
{% endblock %}

