<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{{ include('WebSiteBundle:_common:_header.html.twig') }}

{% block content %}{% endblock %}

{{ include('WebSiteBundle:_common:_footer.html.twig') }}

</body>
</html>